
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}

/*.camera {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #F00;
}*/

////////////////////////////////////////////////
html, body{
    margin: 0;
    padding: 0;
}
/*body{
    background-color: #F8E8D9;
}*/
#header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    background-color: #93A8BA;
}
#content{
    width: 100%;
    margin: 5em 0 5em 0;
    background-color: #F8E8D9;
}
#column_left{
    position: fixed;
    left:0;
    height: 100%;
    width: 15%;
    background-color: #D3D2CE;
}
#column_right{
    margin-left:15%;
    padding: 1em 2em;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: #A08575;
}

////////////////////////////////////////////////////////////

/*#container {
    position: relative;
    width: 100px;
    height: 100px;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0 100px 100px 50px);
}

.pie {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0 50px 100px 0px);
}

#part1-wrapper {
    transform: rotate(0deg);
}

#part1 {
    background-color: rgb(255, 99, 99);
    transform: rotate(60deg);
}*/
